.mob-left-list{
    background: #1f497b;
    color: #fff;
    padding: 3px;
    text-align: center;
    width: 75px;
    display: none;
    position: fixed;
    left: 0px;
    z-index: 3;
    margin-top: 15px;
}