.legends ul li {
    list-style-type: none;
    padding: 3px 0px 3px 0px; 
}
.legends .legnedblock {
    height: 20px;
    width: 20px;
    float: left;
}
.legends .legend_key {
    padding-left: 15px;
}
.legend-heading{
    padding-left: 38px;   
}
.direction{
    padding-left: 38px;
    padding-bottom: 15px;
}

.map_popover {
    background: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #4bbcd7;
    color: #727272;
    display: none;
    font: italic 14px Georgia;
    left: 0;
    opacity: 0.6;
    padding: 10px 20px;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 1000;
}
