/* You can add global styles to this file, and also import other style files */
@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";
$primary-color: #1f4a7c;
// customizing mdb bootstrap

@mixin dropdownList(){
    right: 0;
    width: 100%;
    left: auto;
}
@mixin headerFooterZindex(){
    z-index: 1000;
}
@function get-vw($target) { 
    $vw-context: (1000*.01) * 1px;
    @return  1vw;
  }
input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search-md], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.md-textarea {
    border: 1px solid #CCCC;
    border-bottom: 1px solid #CCCC;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    font-size: 15px;
    margin-bottom: 0;
}
.indicator-container{
    margin-bottom: 20px;
}
.dropdown-menu.drp-list{
    @include dropdownList();
    
}
.logo-block, footer#foot{
    @include headerFooterZindex()
}
body{
    min-height: 1vh;
}
.input-holder{
    display: inline-block;
    padding-bottom: 10px;
    padding-right: 85px;
}
.no-spinners [type='number'] {
    -moz-appearance:textfield;
}  
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
   -webkit-appearance: none;
    margin: 0;
}  
.page-heading{
    font-size: 25px;  
    font-family: sans-serif;
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
    margin-top: 45px;
    margin-bottom: 45px;
    padding-bottom: 7px;
}  
.btn-default, .btn-default:hover,.btn-default:focus, .btn-default:active, 
.btn-default.dropdown-toggle, .btn-default.dropdown-toggle:hover, 
.btn-default.dropdown-toggle:focus, .btn-default.dropdown-toggle:active, .btn-submit {
    background-color: $primary-color !important; 
}

header#header.header-sec-fixed {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

input[type=file] {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
 }
 .list-heading{
   border-bottom: 1px solid $primary-color; 
   color: $primary-color; 
   font-weight: bold;
   font-size: 18px;  
   //margin-bottom: 20px;
 }
 .left-list{
   height: 107%;
   background-color: #80a7e0;
   padding-top: 80px;
   position: absolute;
   z-index: 3;  
 }
 .left-side-scroll{
   top: -30px;
   padding-top: 135px;
   position: fixed !important;
 }
 .content-sec{
   padding-top: 50px;
   margin-left: 25%;
 }
 .sub-headings{
   margin-top: 35px;
   margin-bottom: 10px !important;
   font-weight: 500;
   color: $primary-color;
 } 
 .drp-list{
   right: 0;
   overflow: auto;
 }
 
/*** responsive css ***/
@media (max-width: 1024px){    
    .data-head-list{
       margin-left: -45px !important;
       font-size: 14px !important;
    }
    .list-span{
        margin-left: 35px !important;
    }
}
@media (max-width: 767px){    
    .content-sec{
        margin-left: 30% !important;
    }
}
@media (max-width: 608px){
    .content-sec{
        margin-left: 12% !important;
    }
    .left-list{
        display: none !important;
        max-width: 32%;
    }
    .mob-left-list{
        display: block !important;
    }
    // #nav_bar{
    //     display: none;
    // }
}
@media (max-width: 565px){
    .content-sec{
        margin-left: 0 !important;
    } 
    .left-list{
        max-width: 60%;
    }
}

.firstslices {
    fill: #f76653;
    background-color: #f76653;
}
.secondslices {
    fill: #e6db4f;
    background-color: #e6db4f;
}
.thirdslices {
    fill: #42b46e;
    background-color: #42b46e;
}
.fourthslices {
    fill: #a6a6a6;
    background-color: #a6a6a6;
}